<head>
    <meta charset="UTF-8" />
    <title>403 Forbidden</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/jass.css" />
</head>

<body>
    <main>
        <h1>Awww! I'm sorry but this is a Forbidden (403) action!</h1>
        <p>You can only update or delete posts that are yours.</p>
    </main>
</body>
